@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.imgPortada{
    width: 150px;
}


.piezas{
    background-image: url(../img/madera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 350px;
    padding: 20px;
    margin: auto;
    padding: 20px;
}

#titulo{
  font-family: 'Dancing', cursive; 
  text-align: center;    
}

.fondoRmp{
    background-color: limegreen;
    
}

#informacion{
    margin-top: 20px;
    text-align: center;
}

.fondoPz{
    width: 52px;
    height: 154px;
    border: 1px solid;
    padding: 0;
}

/*
#imagenFondo{
    background-color: aquamarine;
}
*/

.iniciar{
    background-color: darkgray;
    font-size: large;
    font-weight: 200;
    color: black;
    margin-top: 20px;    
}

.iniciar:hover{
    background-color: gainsboro;
}

.btnIniciar{
    margin-bottom: 20px;
    text-align: center;
}

.btnAdmin{
    margin-bottom: 20px;
    text-align: center;
    background-color: darkseagreen;
    color: black;
    font-family: Arial;
}

.btnAdmin:hover{
    background-color: lightgrey;
}

.fondoFormulario{
    text-align: center;
}

#nombreRmp{
    width: 450px;
    margin: 0px auto;
}

#bodyFondo{
    background-image: url(../img/granja2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: beige ;
}

#fondoRompecabezas{
        background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: beige ;
}

#botonRmp{
    align-content: center;
    margin-bottom: -10px;
}

#botones{
    text-align: left;
    margin-right: 130px;
}

#regresar{
    width: 60px;
    color: aliceblue;
    font-size: larger;
}

#recargar{
    width: 90px;
}

#divRmp{
    margin-top: -30px;
}

select{
    background: transparent;
    width: 100px;
    padding: 5px;
}

#boton{
    text-align: center;
    height: 300px;
    font-family: 'Dancing', cursive;
    font-size: larger;
}
#validar{
   text-decoration: none;
    padding: 5px;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
    background-color: grey;
    border-radius: 6px;

}

.anadir{
    background-color: coral;
}

.anadir:hover{
    background-color: lightgrey;
}

#validar:hover {
color: black;
    background-color: #ffffff;
}

#imgBoton{
    width: 100px;
}



#btnLista{
    background-image: url(../img/madera.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    border: 3px #814111 dashed;
    margin: 5px;
    padding: 10px;
}

#idh3{
    font-family: 'Indie Flower', cursive;
    color: bisque;
}

.tituloAdmin{
    color: bisque;
}


#lista{
    padding: 150px 0 100px 0;
    text-align: center;
    background-color: aliceblue;
}

#nombre{
    text-align: center;
    margin-top: 150px;
    margin-bottom: -90px;
}

#logo{
    text-align: center;
}

#audioDiv, #audioFondo, #audioError{
    display: none;
}

.bordes{
    border: 2px black;
}

.tituloInicio{
   color:red; 
   text-align: center;
   font-size:50px;
   font-family:fantasy;
}

.usuarios{
    margin-top: 20px;
    padding: 10px;
    background-color: beige;
    font-family: Georgia;
}

.ninos{
    padding-top: 20px;
}

 body {
   font-family: 'Roboto', sans-serif;
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ee9ca7 , #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ee9ca7 , #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
 }
 
 * {
   margin: 0;
   padding: 0;
 }
 
 .ref_imgWrap {
   max-width: 200px;
   margin: 0 auto;
   overflow: hidden;
   margin-top: 1em;
   position: relative;
 }
 
 .ref_imgWrap img {
   max-width: 100%;
   float: left;
   height: auto;
 }
 
 .contRofl_clr,
 .wrap {
   width: 100%;
   float: left;
 }
 
 .restartPuzzleWrap {
   width: 100%;
   float: left;
   text-align: center;
   padding: 1em 0;
 }
 
 .restart_puzzleX999 {
   padding: 1.6em;
   display: inline-block;
   background: orange;
   color: #ffffff;
   letter-spacing: 1px;
   font-weight: 300;
   border-radius: 2px;
   cursor: pointer;
   -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.35);
 }

.snappuzzle-piece {
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.35);  
}
 /* required snapPuzzle styles */
 
 .puzzleX999_paddedWrap {
   width: 100%;
   float: left;
   position: relative;
   overflow: hidden;
 }
 
 .puzzleX999_imgWrap {
   max-width: 560px;
   padding: 5%;
   padding-top: 0;
   margin: 0 auto;
   box-sizing: border-box;
   position: relative;
 }
 
 .puzzleX999_imgWrap img {
   max-width: 100%;
   float: left;
   height: auto;
 }
 
 .puzzleX999_relWrap {
   position: relative;
   display: block;
   max-width: 500px;
   float: left;
 }
 
 #puzzleX999_Main {
   width: 100%;
   float: left;
    border: 2px solid black;
 }
 
 .snappuzzle-wrap {
   position: relative;
   display: block;
 }
 /*snappuzzle-pile { position: relative; }*/
 
 .snappuzzle-piece {
   cursor: move;
 }
 
 .snappuzzle-slot {
   position: absolute;
   background: #fff;
   opacity: .8;
 }
 
 .snappuzzle-slot-hover {
   background: #eee;
 }